.objective-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 400px;
}

.objective-editing {
    background-color: #444;
}

.objective-title {
    color: #fadf0f;
    font-size: 14px;
    margin: 2px 0px;
}

.objective-title-complete {
    color: #0acc00;
    font-size: 14px;
    margin: 2px 0px;
}

.objective-complete {
    background-color: #262626;
    border: 1px solid #0acc00;
    color: #0acc00;
    height: 20px;
    width: 20px;
    transition: 0.3s all;
    border-radius: 2px;
    display: flex;
    justify-content: center;

    &:hover {
        background-color: #565656;
        cursor: pointer;
    }
}

.objective-undo {
    background-color: #262626;
    border: 1px solid #cc0000;
    color: #cc0000;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
}

.objective-time-container {
    display: flex;
    align-items: center;

    p {
        margin: 0 20px 0 0;
        font-size: 14px;
    }
}

.objective-edit-button {
    height: 19px;
    margin-left: 10px;
    background-color: #fadf0f;
    position: relative;
    bottom: 2px;
    border-radius: 3px;
    border: none;
}