h2 {
    margin: 0;
}

.sub-title {
    font-size: 10px;
    font-weight: 700;
    text-decoration: underline;
}

.whole-wrapper {
    display: flex;
}

.left-wrapper {
    width: 400px;
}

.boss-times-wrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;

    .boss-times {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 10px;
        align-items: center;
        margin-right: 10px;
        margin-bottom: 10px;

    }

    .boss-question {
        padding: 2px;

        &:hover {
            border: 2px solid yellow;
            padding: 0px;
            cursor: pointer;
        }
    }
}