h2 {
    margin: 0;
}

.boss-times-wrapper {
    display: flex;
    flex-wrap: wrap;

    .boss-times {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 10px;
        align-items: center;
        margin-right: 10px;
        margin-bottom: 10px;

    }

    .boss-question {
        padding: 2px;

        &:hover {
            border: 2px solid yellow;
            padding: 0px;
            cursor: pointer;
        }
    }
}