.trapped-test {
    color: red;
}

.trapped-zone-title {
    font-size: 16px;
    color: #fadf0f;
}

.trapped-chest-text {
    font-family: 'Arial', sans-serif;
    font-size: 12px;
}

.trapped-button {
    width: 80px;
    height: 40px;
    background-color: #262626;
    color: #ff9c33;
    border: 1px solid #ff9c33;
    border-radius: 3px;
    transition: 0.3s all;
    margin: 20px;
}

.trapped-container {
    display: flex;
    flex-wrap: wrap;
}

.trapped-zone-container {
    width: 25%;
}