.color-gateway {
    height: 100%;
    width: 100%;
    min-width: 100vw;
    min-height: 100vh;
}

.changer-row {
    display: flex;
}

.color-changer, .key-changer {
    font-size: 12px;
    display: flex;
    align-items: center;
    margin-right: 50px;

    input {
        margin-left: 10px;
    }

    button {
        height: 20px;
        background-color: transparent;
        color: #fff;
        font-size: 12px;
        border-radius: 3px;
        margin-left: 10px;
        transition: 0.3s all;

        &:hover {
            border: 1px solid #000;
            background-color: #eee;
            color: #111;
            cursor: pointer;
        }
    }
}

.desired-key-prompt {
    margin-left: 20px;
}