.time {
    font-size: 60px;
    margin: 0;
}

.time-finished {
    color: #ff9c33;
}

.time-container {
    width: 200px;
    margin: 0 auto;
}

.boss-time-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .timeboss-time {
        color: #ff9c33;
    }

    button {
        color: #000;
        background-color: #ff9c33;
        border: none;
        margin-right: 5px;
        border-radius: 2px;

        &:hover {
            cursor: pointer;
        }
    }
}

.time-button-container {
    display: flex;
    justify-content: space-between;
    margin: 50px auto 10px;

    button {
        width: 60px;
        height: 40px;
        background-color: #262626;
        color: #ff9c33;
        border: 1px solid #ff9c33;
        border-radius: 3px;
        transition: 0.3s all;

        &:hover {
            background-color: #565656;
            cursor: pointer;
        }
    }
    .re-entry-button {
        width: 100%;
    }
}

.time-bottom {
    flex-direction: column;
    p {
        color: #fadf0f;
        font-size: 14px;
    }
}

.hidden {
    visibility: hidden;
}