@import url('https://fonts.googleapis.com/css?family=DM+Sans|Saira&display=swap');

body {
  font-family: 'Saira', sans-serif;
  font-weight: 700;
}

#root {
  width: 100%;
}

.text-center {
  text-align: center;
}